@model string
@using AspnetCoreStarter.Pages.Shared.EditorTemplates
@{
}
<div id="color-picker-monolith"></div>
<input type="hidden" id="editNewEntry_Color" name="NewEntry.Color" value="@Model" />
<script type="text/javascript">
  // let $script = document.getElementById("template-editors-script-manager");
  // if (!$script) {
  //   $script = document.createElement('script');
  //   $script.setAttribute("id", "template-editors-script-manager");
  //   document.body.appendChild($script);
  //   $script.innerHTML = ""
  // }
  EditorsScriptManager.GenerateColorPicker = function ($pickr) {
    $pickr.create({
      el: "#color-picker-monolith",
      theme: "monolith",
      // default: "rgba(40, 208, 148, 1)",
      default: document.getElementById('editNewEntry_Color').value,
      swatches: [
        "rgba(102, 108, 232, 1)",
        "rgba(40, 208, 148, 1)",
        "rgba(255, 73, 97, 1)",
        "rgba(255, 145, 73, 1)",
        "rgba(30, 159, 242, 1)"
      ],
      components: {
        // Main components
        preview: true,
        opacity: true,
        hue: true,

        // Input / output Options
        interaction: {
          hex: true,
          rgba: true,
          hsla: true,
          hsva: true,
          cmyk: true,
          input: true,
          clear: true,
          save: true
        }
      }
    })
     // .setColor(document.getElementById('NewEntry_Color').value)
      .on('init', instance => {
        console.log('Event: "init"', instance);
      })
        .on('save', instance => {
          console.log('Event: "Save"', instance);
        document.getElementById('editNewEntry_Color').value = instance.toHEXA();
        });

    // $pickr.setColor(document.getElementById('editNewEntry_Color').value, true);
  };
</script>
