@page
@model AspnetCoreStarter.Pages.Settings.Database.FieldsModel
@using AspnetCoreStarter.Helpers;
@using AspnetCoreStarter.Models;
@using AspnetCoreStarter.Entities;

@{
	ViewData["Title"] = "Database Table Fields";
}

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
	<link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.dist.css" />
	<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.dist.css" />
}

@section VendorScripts {
	<script src="~/vendor/libs/moment/moment.dist.js"></script>
	<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/sweetalert2/sweetalert2.dist.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/popular.dist.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/bootstrap5.dist.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/auto-focus.dist.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
	<script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
  <script type="module" src="~/js/admin/settings/database/fields/index.js"></script>
}

@* Attributes DataTable *@

	<div class="card">
		<div class="card-header">
			<h5 class="card-title mb-0">Search Filter</h5>
		</div>
		<div class="card-datatable table-responsive">
			<table id="fieldsTable" class="table">
				<thead>
					<tr>
						<th></th>
						<th>Id</th>
						<th>Name</th>
						<th>Description</th>
						<th>Base Type</th>
						<th>Return Type</th>
						<th>Format</th>
						<th>Action</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>


@* Create Attribute Form Offcanvas Partial*@
@await Html.PartialAsync("partials/_CreateFieldsModalPartial")

@* Edit Attribute Form Offcanvas Partial*@
@await Html.PartialAsync("partials/_EditFieldsModalPartial")


<script>
  PageLoaded();
</script>
